/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-3.3.7.min
 *= require_tree .
 *= require_self

 */
 #profile {
  /*width: 100%;*/
  border-radius: 40px;
}

  .navbar-brand{
    font-size: 35px;
  }

 #profile.form-control {
   -webkit-border-radius: initial;
   -moz-border-radius: initial;
   -o-border-radius: initial;
   border-radius: initial;

}


  #profile {
   /*width: 100%;*/
   border-radius: 40px;
 }

 body {
   background-color: #c0ffee;
 }

.post {
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.button-area {
  /*border-top: 1px solid #242424;*/
}

.button_to,
.button_to div {
  display: inline;
}

.post-head{
  margin-top: 5px;
}
 p1{
   color: #777;
 }


 #about {
   font-size: 16px;
 }

 .fancy {
   display: block;
   content: "";
   height: 30px;
   margin-top: -31px;
   border-style: solid;
   border-color: #8c8b8b;
   border-width: 0 0 1px 0;
   border-radius: 20px;
}
