// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pageTitle {
  text-align: center;
}

.button {
  text-align: center;
}

.btn {
  width: 125px;
  text-align: center;
}

.cityLink {
  text-align: center;
}

.cityForm {
  text-align: center;
}

.cityInput {
  width: 200px;
}
