// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  height: 500px;
}

#logincard{
  margin-right: 10%;
  background-color: grey;
  padding: 20px;
}

.newuser {
margin: auto;
background-color: grey;
padding: 20px;
}

.label {
  font-size: 20px;
}
