
<%= form_for @post do |f| %>
<div>
  <%= f.text_field :title, placeholder: "Post Title" %>
</div>
<div>
  <%= f.text_field :body, placeholder: "Text" %>
</div>
<%= f.submit "Save Changes" %>
<% end %>
