<h1>New Post Page</h1>

<%= form_for [@city, @post] do |f| %>
  <div>
    <%= f.text_field :title, placeholder: "Title" %>
  </div><br>
  <div>
    <%= f.text_area :body, placeholder: "Post body", size: "100x10" %>
  </div><br>
  <%= f.submit "Add Post" %>
<% end %>
