

<div>
<h2><%= @post.title %></h2>
</div>
<div>
by <%= User.find_by_id(@post.user_id).name %>
</div>
<div>
<%= @post.body %>
</div>
<% if @post.user_id == current_user.id %>
  <%= button_to "Edit Post", edit_post_path, method: "get" %>
<% end %>
