

<h1>Cities</h1><br>
<% if current_user &&admin %>
<%= button_to "New City", new_city_path, method: "get" %>
<% end %>
<br>
  <% @cities.each do |city| %>
    <div>
      <h3><%= link_to city.name, city_path(city) %></h3>
    </div>
  <br>
<% end %>
