

<h1 class="pageTitle">Cities</h1><br>
<div class="button"><%= button_to "Add a new city", new_city_path, method: "get", class: "btn btn-success" %></div>
<br>
  <% @cities.each do |city| %>
    <div>
      <h3 class="cityLink"><%= link_to city.name, city_path(city) %></h3>
    </div>
  <br>
<% end %>
