<h1 class="pageTitle">Add a New City</h1>

<div class="cityForm">
<%= form_for @city do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "City name", class: "cityInput" %>
  </div><br>
  <div>
    <%= f.text_field :image, placeholder: "Image URL", class: "cityInput" %>
  </div><br>
  <%= f.submit "Add City", class: "btn btn-success" %>
<% end %>
</div>
